body {
    background-color: #fff;
    font-family: "Arial Black";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#grena{
    width: 100%;
    background: #6e182c;
    display: flex;
    justify-content: start;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}

#branco{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#branco #ffc{
    position: fixed;
    top: 2.4rem;
    left: 13rem;
    width: 30rem;
}

#branco #logo{
    position: fixed;
    top: 0.6rem;
    left: 44rem;
    z-index: 1;
    width: 8rem;
}

#branco #ffc2{
    position: fixed;
    top: 2.4rem;
    right: 13rem;
    width: 30rem;
}

#verde {
    width: 100%;
    background: #01633d;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

}

#verde ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2.2rem;
    margin-left: 1.5rem;
}

#verde li {
    padding: 0.5rem; 
    color: #fff;
    font-size: 1.3rem;
}

#verde a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.8rem;
}

#verde a:hover {
    background-color: #6e182c;
    border-radius: 0.6rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    margin-top: 14rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    color: #01633d;
}

.card img {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.card h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card P2{
    font-size: 1.5rem;
}

.card a {
    display: inline-block;
    padding: 1rem 1rem;
    background-color: #6e182c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background-color: #8a1d3e;
}


footer{
    width: 100%;
    margin-left: -0.5rem;
    font-size: 0.8rem;
    color: #fff;
}

#footer1{
    width: 100%;
    background: #6e182c;
    padding: 0.5rem;
}

#footer2{
    width: 100%;
    background: #01633d;
    padding: 0.5rem;
    margin-bottom: -0.5rem;
}

/* INÍCIO... EM BREVE ALERT */
.modal {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 12.2rem;
    width: 100%;
    height: 74%;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: transparent;
    margin: 3% auto;
    padding: 1rem;
    width: 80%;
    height: 80%;
  }

  .modal-content p {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-shadow: #6e182c 0.2rem 0.2rem;
  }
  /*FINAL.. EM BREVE ALERT*/ 

@media screen and (max-width: 768px) {
    body {
        background-color: #fff;
        font-family: "Arial Black";
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    #grena{
        padding: 0.5rem;
        justify-content: center;
    }

    #branco #ffc,
    #branco #logo,
    #branco #ffc2 {
        position: fixed;
        width: 10%;
        text-align: center;
    }

    #branco #logo {
        top: -0.2rem;
        left: 0;
        width: 22%;
        z-index: 1;
        margin-right: 3rem;
    }

    #branco #ffc{
        top: 3.2rem;
        left: 4rem;
        width: 80%;
        z-index: 1;
        margin-right: 3rem;
    }

    #branco #ffc2 {
       display: none;      
    }

    #verde {
        width: 100%;
        background: #01633d;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0.1rem;
    
    }
    
    #verde ul {
        list-style-type: none; 
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0rem;
        margin-left: 0rem;
    }
    
    #verde li {
        padding: 1rem 0 1rem 0; 
        color: #fff;
        font-size: 0.1rem;
    }
    
    #verde a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8888rem;
        padding: 0.8rem;
        white-space: nowrap;
    }
    
    #verde a:hover {
        background-color: #6e182c;
        border-radius: 0.6rem;
    }

    .cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -3rem;
    }
    
    .card {
        width: 20rem;
        margin-left: 0rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        text-align: center;
        color: #01633d;
    }
    
    .card img {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
        margin-bottom: rem;
    }
    
    .card h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase; 
    }
    
    .card p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    
    
    .card a {
        display: inline-block;
        padding: 1rem 1rem;
        background-color: #6e182c;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .card a:hover {
        background-color: #8a1d3e;
    }
    
    footer{
        width: 100%;
        margin-left: -0.5rem;
        font-size: 0.52rem;
        color: #fff;
        text-align: center;
    }
    
    #footer1{
        width: 100%;
        background: #6e182c;
        padding: 0.5rem;
    }
    
    #footer2{
        width: 100%;
        background: #01633d;
        padding: 0.5rem;
        margin-bottom: -0.5rem;
    }

    /* INÍCIO... EM BREVE ALERT */
.modal {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 9.9rem;
    width: 100%;
    height: 78%;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: transparent;
    margin: 3% auto;
    padding: 1rem;
    width: 80%;
    height: 80%;
  }

  .modal-content p {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-shadow: #6e182c 0.2rem 0.2rem;
    margin-left: -1rem;
  }
  /*FINAL.. EM BREVE ALERT*/ 
}
